
/* font */


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
  /* shard style  */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* dark-01 */
  .text-black{
    color: #000000;
  }
  .text-black-more{
    color: #131313;
  }
  .prymari-color{
    color: #FF900E;
  }
  /* dark-02 */
  .text-gray{
    color: #424242;
  }
  /* dark-03 */
  .text-light-gray{
    color: #727272;
  }
  .background-color{
    background-color:rgba(255, 144, 14, 0.1);
  }
  footer-color{
    color: rgba(255, 244, 231, 1);
  }

  .display-width{
    max-width: 1440px;
    margin: 0 auto;
  }


  .text-regular{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #727272;
  }

  .text-bold{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
  }


  .display-flex{
    display: flex;
  }


  .btn-prymari{
    padding: 20px 25px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
  }

  /* main style  */
 
  .navbar{
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    margin-bottom: 100px;
  }
  
  .nav-list{
    list-style: none;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 26px;
  }
  
  .nav-list a{
    text-decoration: none;
    color: #424242;
    padding-left: 3rem;
  }


  .hero-titel{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .hero-content{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
  }

  .hero-text{
    margin-bottom: 24px;
  }

  .hero img{
    margin-top: 50px;
    margin-bottom: 50px;
  }



  /* features */

  .features-container {
    align-items: center;
    gap: 80px;
    padding-top: 85px;    
  }

  .features-content{
    max-width: 537px;

  }
  .features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .features-titel{
    margin-bottom: 24px;
  }

  .features-text{
    margin-bottom: 32px;
  }



/* service */

.service{
    gap: 146px;
    margin-top: 130px;
}

.service-titel{
    padding-left: 21px;
    border-left: 3px solid #FF900E;
    margin-bottom: 24px;
}
.service-text{
    margin-bottom: 30px;
}
.service-card h4{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}

.service-card{
    padding: 30px 40px 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

service-img img{
    max-width: 707px;
}


.service-btn{
    padding: 46px 42px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -100px;
    margin-left: -100px;
}
.service-btn h2{
    font-size: 4rem;
    line-height: 72px;
    font-weight: 700;
}
.service-btn h6{
    font-size: 1.5rem ;
    font-weight: 500;
    line-height: 40px;
}












  /* media  */

  @media screen and (max-width: 576px) {
    .navbar{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .nav-list{
        flex-direction: column;
    }

    .hero img{
        width: 100%;
    }


    /* features  */

    .features-container{
        flex-direction: column;
    }
    .features-img{

        grid-template-columns: repeat(1,1fr);

    }
    .features-content{
        text-align: center;
    }


    /* .service */

    .service{
        flex-direction: column;
        text-align: center;
    }
    .service-img img{
    width: 100%;
    }
    .service-btn{
    padding: 26px 22px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -50px;
    margin-left: -50px;
    }

  }

  /* ipad or laptop */

  @media screen and (min-width:577px) and (max-width:992px) {
    .hero img{
        width: 100%;
    }

    /* feature */
    .features-container{
        flex-direction: column;
    }
    .features-content{
        text-align: center;
    }


    /* .service */

      .service{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .service-img img{
    width: 100%;
    }
    .service-btn{
    padding: 26px 22px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    
    }


  }